.secret-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    font-size: 4vh;
    padding: 2vh 4vw;
    border-radius: 1vh;
    z-index: 1000;
    text-align: center;
}

.piece, .piece_white, .piece_black  {
    height: 11vmin;
    width: 11vmin;
    z-index: 10;
}

/* Style pour l'image sélectionnée */
.selected {
    border: 5px solid #1a7c21;
    box-shadow: 0 0 10px #1a7c21;
    transform: scale(1.1);
}

/* Position fixe pour toutes les cases */
.a8, .b8, .c8, .d8, .e8, .f8, .g8, .h8,
.a7, .b7, .c7, .d7, .e7, .f7, .g7, .h7,
.a6, .b6, .c6, .d6, .e6, .f6, .g6, .h6,
.a5, .b5, .c5, .d5, .e5, .f5, .g5, .h5,
.a4, .b4, .c4, .d4, .e4, .f4, .g4, .h4,
.a3, .b3, .c3, .d3, .e3, .f3, .g3, .h3,
.a2, .b2, .c2, .d2, .e2, .f2, .g2, .h2,
.a1, .b1, .c1, .d1, .e1, .f1, .g1, .h1 {
  position: fixed;
}

.a8 { left: 15vmin; top: 5vmin; }
.b8 { left: 26vmin; top: 5vmin; }
.c8 { left: 37vmin; top: 5vmin; }
.d8 { left: 48vmin; top: 5vmin; }
.e8 { left: 59vmin; top: 5vmin; }
.f8 { left: 70vmin; top: 5vmin; }
.g8 { left: 81vmin; top: 5vmin; }
.h8 { left: 92vmin; top: 5vmin; }

.a7 { left: 15vmin; top: 16vmin; }
.b7 { left: 26vmin; top: 16vmin; }
.c7 { left: 37vmin; top: 16vmin; }
.d7 { left: 48vmin; top: 16vmin; }
.e7 { left: 59vmin; top: 16vmin; }
.f7 { left: 70vmin; top: 16vmin; }
.g7 { left: 81vmin; top: 16vmin; }
.h7 { left: 92vmin; top: 16vmin; }

.a6 { left: 15vmin; top: 27vmin; }
.b6 { left: 26vmin; top: 27vmin; }
.c6 { left: 37vmin; top: 27vmin; }
.d6 { left: 48vmin; top: 27vmin; }
.e6 { left: 59vmin; top: 27vmin; }
.f6 { left: 70vmin; top: 27vmin; }
.g6 { left: 81vmin; top: 27vmin; }
.h6 { left: 92vmin; top: 27vmin; }

.a5 { left: 15vmin; top: 38vmin; }
.b5 { left: 26vmin; top: 38vmin; }
.c5 { left: 37vmin; top: 38vmin; }
.d5 { left: 48vmin; top: 38vmin; }
.e5 { left: 59vmin; top: 38vmin; }
.f5 { left: 70vmin; top: 38vmin; }
.g5 { left: 81vmin; top: 38vmin; }
.h5 { left: 92vmin; top: 38vmin; }

.a4 { left: 15vmin; top: 49vmin; }
.b4 { left: 26vmin; top: 49vmin; }
.c4 { left: 37vmin; top: 49vmin; }
.d4 { left: 48vmin; top: 49vmin; }
.e4 { left: 59vmin; top: 49vmin; }
.f4 { left: 70vmin; top: 49vmin; }
.g4 { left: 81vmin; top: 49vmin; }
.h4 { left: 92vmin; top: 49vmin; }

.a3 { left: 15vmin; top: 60vmin; }
.b3 { left: 26vmin; top: 60vmin; }
.c3 { left: 37vmin; top: 60vmin; }
.d3 { left: 48vmin; top: 60vmin; }
.e3 { left: 59vmin; top: 60vmin; }
.f3 { left: 70vmin; top: 60vmin; }
.g3 { left: 81vmin; top: 60vmin; }
.h3 { left: 92vmin; top: 60vmin; }

.a2 { left: 15vmin; top: 71vmin; }
.b2 { left: 26vmin; top: 71vmin; }
.c2 { left: 37vmin; top: 71vmin; }
.d2 { left: 48vmin; top: 71vmin; }
.e2 { left: 59vmin; top: 71vmin; }
.f2 { left: 70vmin; top: 71vmin; }
.g2 { left: 81vmin; top: 71vmin; }
.h2 { left: 92vmin; top: 71vmin; }

.a1 { left: 15vmin; top: 82vmin; }
.b1 { left: 26vmin; top: 82vmin; }
.c1 { left: 37vmin; top: 82vmin; }
.d1 { left: 48vmin; top: 82vmin; }
.e1 { left: 59vmin; top: 82vmin; }
.f1 { left: 70vmin; top: 82vmin; }
.g1 { left: 81vmin; top: 82vmin; }
.h1 { left: 92vmin; top: 82vmin; }


.btnRandom { left: 110vmin; top: 30vmin; position: fixed; }
.txtRandom { left: 110vmin; top: 40vmin; position: fixed; color: black }

/* Position pour les téléphones */

@media (max-width: 768px) {
  .a8 { left: 5vmin; top: 0vmin; }
  .b8 { left: 16vmin; top: 0vmin; }
  .c8 { left: 27vmin; top: 0vmin; }
  .d8 { left: 38vmin; top: 0vmin; }
  .e8 { left: 49vmin; top: 0vmin; }
  .f8 { left: 60vmin; top: 0vmin; }
  .g8 { left: 71vmin; top: 0vmin; }
  .h8 { left: 82vmin; top: 0vmin; }

  .a7 { left: 5vmin; top: 11vmin; }
  .b7 { left: 16vmin; top: 11vmin; }
  .c7 { left: 27vmin; top: 11vmin; }
  .d7 { left: 38vmin; top: 11vmin; }
  .e7 { left: 49vmin; top: 11vmin; }
  .f7 { left: 60vmin; top: 11vmin; }
  .g7 { left: 71vmin; top: 11vmin; }
  .h7 { left: 82vmin; top: 11vmin; }

  .a6 { left: 5vmin; top: 22vmin; }
  .b6 { left: 16vmin; top: 22vmin; }
  .c6 { left: 27vmin; top: 22vmin; }
  .d6 { left: 38vmin; top: 22vmin; }
  .e6 { left: 49vmin; top: 22vmin; }
  .f6 { left: 60vmin; top: 22vmin; }
  .g6 { left: 71vmin; top: 22vmin; }
  .h6 { left: 82vmin; top: 22vmin; }

  .a5 { left: 5vmin; top: 33vmin; }
  .b5 { left: 16vmin; top: 33vmin; }
  .c5 { left: 27vmin; top: 33vmin; }
  .d5 { left: 38vmin; top: 33vmin; }
  .e5 { left: 49vmin; top: 33vmin; }
  .f5 { left: 60vmin; top: 33vmin; }
  .g5 { left: 71vmin; top: 33vmin; }
  .h5 { left: 82vmin; top: 33vmin; }

  .a4 { left: 5vmin; top: 44vmin; }
  .b4 { left: 16vmin; top: 44vmin; }
  .c4 { left: 27vmin; top: 44vmin; }
  .d4 { left: 38vmin; top: 44vmin; }
  .e4 { left: 49vmin; top: 44vmin; }
  .f4 { left: 60vmin; top: 44vmin; }
  .g4 { left: 71vmin; top: 44vmin; }
  .h4 { left: 82vmin; top: 44vmin; }

  .a3 { left: 5vmin; top: 55vmin; }
  .b3 { left: 16vmin; top: 55vmin; }
  .c3 { left: 27vmin; top: 55vmin; }
  .d3 { left: 38vmin; top: 55vmin; }
  .e3 { left: 49vmin; top: 55vmin; }
  .f3 { left: 60vmin; top: 55vmin; }
  .g3 { left: 71vmin; top: 55vmin; }
  .h3 { left: 82vmin; top: 55vmin; }

  .a2 { left: 5vmin; top: 66vmin; }
  .b2 { left: 16vmin; top: 66vmin; }
  .c2 { left: 27vmin; top: 66vmin; }
  .d2 { left: 38vmin; top: 66vmin; }
  .e2 { left: 49vmin; top: 66vmin; }
  .f2 { left: 60vmin; top: 66vmin; }
  .g2 { left: 71vmin; top: 66vmin; }
  .h2 { left: 82vmin; top: 66vmin; }

  .a1 { left: 5vmin; top: 77vmin; }
  .b1 { left: 16vmin; top: 77vmin; }
  .c1 { left: 27vmin; top: 77vmin; }
  .d1 { left: 38vmin; top: 77vmin; }
  .e1 { left: 49vmin; top: 77vmin; }
  .f1 { left: 60vmin; top: 77vmin; }
  .g1 { left: 71vmin; top: 77vmin; }
  .h1 { left: 82vmin; top: 77vmin; }

  .btnRandom {
    left: 10vmin; top: 100vmin;
  }
  .txtRandom {
    left: 10vmin; top: 110vmin;
  }

  .secret-box {
    top: 25%;
    left: 25%;
    }
}